* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #5c3e94;
  --secondary-color: #6c757d;
  --background-color: #a7aae1;
  --surface-color: #ffffff;
  --text-color: #5c3e94;
  --border-color: #dfe2e6;
  --hover-color: #4e3180;
}

body {
  font-family: "Prompt", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
.page-header {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-profile {
  font-size: 14px;
  color: var(--secondary-color);
}
#page-title {
  color: var(--primary-color); /* สีน้ําเงินเขม */
  font-size: 24px;
}
.card {
  background-color: var(--surface-color);
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
a {
  color: var(--surface-color);
}

.dasboard-container {
  display: flex;
  flex-direction: row;
}
.sidebar {
  width: 250px;
  padding: 20px;
  background-color: var(--primary-color);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar li a {
  display: flex;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--surface-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: background-color 0.2s, ease;
  -webkit-transition: background-color 0.2s, ease;
  -moz-transition: background-color 0.2s, ease;
  -ms-transition: background-color 0.2s, ease;
  -o-transition: background-color 0.2s, ease;
}
.sidebar li a:hover {
  background-color: var(--hover-color);
}
.main-content {
  flex-grow: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width: 768px) {
  .dasboard-container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    padding: 10px;
  }
  .main-content {
    grid-template-columns: 1fr;
  } 
}
